<form
	action="https://formsubmit.co/9466a2dc17597c79ad493c064bc9c069"
	method="POST"
>
	<input
		type="hidden"
		name="_next"
		value="https://itucode.github.io/site/obrigado/"
	/>
	<input type="hidden" name="_captcha" value="false" />
	<input type="hidden" name="_template" value="box" />

	<label for="name">Nome:</label>
	<input type="text" id="name" name="name" required />

	<label for="email">E-mail:</label>
	<input type="email" id="email" name="email" required />

	<label for="message">Mensagem:</label>
	<textarea id="message" name="message" required></textarea>

	<button type="submit">Enviar</button>
</form>
